name: Formatting & Tests

on:
    pull_request:
        types: [opened, synchronize, reopened, ready_for_review]

jobs:
    formatting:
        runs-on: ubuntu-latest
        name: Check Build and formatting

        strategy:
          max-parallel: 2
          matrix:
            working-directory: ["Flagsmith.FlagsmithClient", "Flagsmith.Engine","Flagsmith.EngineTest","Flagsmith.Client.Test"]

        steps:
            - name: Cloning repo
              uses: actions/checkout@v4

            - name: Set up Dotnet
              uses: actions/setup-dotnet@v4

            - name: Install dependencies
              run: dotnet restore

            - name: Build
              run: dotnet build --configuration Release --no-restore

            - name: Check Formatting
              run: dotnet format --verify-no-changes
              working-directory: ${{ matrix.working-directory }}

    test:
        runs-on: ubuntu-latest
        name: Test

        strategy:
            max-parallel: 4
            matrix:
                working-directory: ["Flagsmith.EngineTest","Flagsmith.Client.Test"]
                dotnet-version: ["6.x", "7.x", "8.x", "10.x"]

        steps:
          - name: Cloning repo
            uses: actions/checkout@v4
            with:
                fetch-depth: 0
                submodules: recursive

          - name: Clone engine-test-data v2 (temporary)
            run: make clone-engine-test-data

          - name: Set up Dotnet ${{ matrix.dotnet-version }}
            uses: actions/setup-dotnet@v3
            with:
                dotnet-version: |
                  6.0.x
                  ${{ matrix.dotnet-version }}

          - name: Run Tests
            # bafflingly adding the below debugging echo / version statements got the workflow to pass
            run: |
              echo "Dotnet version: "
              dotnet --version
              echo "-------"
              dotnet test
            working-directory: ${{ matrix.working-directory }}
