name: Formatting & Tests

on:
    pull_request:
        types: [opened, synchronize, reopened, ready_for_review]

jobs:
    formatting:
        runs-on: ubuntu-latest
        name: Check Build and formatting

        strategy:
          max-parallel: 2
          matrix:
            working-directory: ["Flagsmith.FlagsmithClient", "Flagsmith.Engine","Flagsmith.EngineTest","Flagsmith.Client.Test"]

        steps:
            - name: Cloning repo
              uses: actions/checkout@v2
              with:
                  fetch-depth: 0

            - name: Set up Dotnet
              uses: actions/setup-dotnet@v1
              with:
                  dotnet-version: "6.0"

            - name: Install dependencies
              run: dotnet restore
            
            - name: Build
              run: dotnet build --configuration Release --no-restore  
            
            - name: Check Formatting
              run: dotnet format --verify-no-changes
              working-directory: ${{ matrix.working-directory }}
    
    test: 
        runs-on: ubuntu-latest
        name: Test

        strategy:
            max-parallel: 4
            matrix:
                working-directory: ["Flagsmith.EngineTest","Flagsmith.Client.Test"]
        
        steps:
          - name: Cloning repo
            uses: actions/checkout@v2
            with:
                fetch-depth: 0
                submodules: recursive
                
          - name: Set up Dotnet 6.0
            uses: actions/setup-dotnet@v1
            with:
                dotnet-version: 6.0.101      

          - name: Run Tests
            run: dotnet test
            working-directory: ${{ matrix.working-directory }}
